.box {
  background: #F1F3F4;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big {
  font-size: 36px;
  font-weight: 700;
  color: #0A0A0A;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}

.form input {
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  padding: 14px 16px;
  font-size: 16px;
  background: white;
}

.btn {
  background: #0D50FF;
  color: #fff;
  border-radius: 12px;
  height: 58px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background .25s;
}

.btn:hover {
  background: #0037E0;
}


/* Success modal inside */
.successBox {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 32px 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.successBox h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  color: #111;
}

.mainLink {
  display: inline-block;
  padding: 14px 26px;
  border-radius: 14px;
  background: #0d50ff;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: background .25s;
}

.mainLink:hover {
  background: #0037E0;
}
