.container{
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 1600px;  /* было 1440 → ставим 1600 */
  margin: 0 auto;
  padding: 0 60px;
}

.title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #282828;
  margin-bottom: 32px;
}

/* 2 строки карточек */
.footerAbout{
  display:flex;
  flex-direction:column;
  gap:32px;
}

.footerAboutRowTop,
.footerAboutRowBottom {
  display:flex;
  gap:32px;
}

.footerCard{
  flex:1;
  background:#f1f3f4;
  border-radius:12px;
  padding:32px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.footerCard p:first-child{
  font-size:20px;
  font-weight:500;
  color:#8B8B8B;
  margin:0 0 12px 0;
}

.footerCard strong,
.footerCard p:last-child,
.footerCard address,
.footerCard a{
  font-size:32px;
  font-weight:600;
  color:#282828;
  font-style:normal;
  text-decoration:none;
}

.socials{
  display:flex;
  gap:16px;
}

.socials img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: block;
}

.mapContainer{
  margin-top:30px;
  border-radius:12px;
  overflow:hidden;
}

.mapContainer iframe{
  width:100%;
  height:350px;
  border:none;
}
