.banner {
  width: 100%;
  max-width: 1250px;       
  margin: 0 auto;       
  margin-top: 40px;
  border-radius: 12px;
  background: linear-gradient(261.47deg, #2451C6 32.63%, #0D50FF 98.96%);
  padding: 60px;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}


.inner {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 420px;  /* слева — пусто, справа — форма */
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: transparent;
  padding: 0 16px;
  color: white;
  font-size: 16px;
}

.form button {
  height: 48px;
  border-radius: 6px;
  background: #fff;
  color: #111;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.err {
  color: #fdd;
  font-size: 13px;
  margin-top: -6px;
}
.form input::placeholder {
  color: rgba(255,255,255,0.9);
}
