.categoriesWrapper {
  max-width: 1440px;
  margin: 0 auto;      /* центрирует */
  padding: 0 40px;     /* отступы по краям */
  box-sizing: border-box;
}

.categoriesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* ровно 4 колонки */
  gap: 20px;
  margin-top: 20px;
}

.categoryCard {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.categoryCard:hover {
  transform: scale(1.05); /* Увеличивает карточку при наведении */
}

.categoryCard img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.categoryCard h2 {
  margin-top: 10px;
  font-size: 1.2em;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #282828;

  margin-bottom: 40px; /* отступ вниз чтобы карточки не прилипали */
}
