* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

main {
  display: block;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
